body{
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body{
  width: 600px;
  height: 600px;
}

.search{
  width: 100%;
}

.forecast{
  width: auto;
  height: 600px;
}

.forecast p{
  margin: 0;
  margin-bottom: 10px;
}